[package]
name = "example-rocket"
version = "0.1.0"
edition = "2021"
publish = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
# internal
later = { path = "../later/", features = ["redis"] }

# external
rocket = { version = "0.5.0-rc.2", features = ["secrets", "tls", "json"] }
anyhow = "1.0.58"
uuid = { version = "1.1.2", features = ["v4"] }
serde = "1.0"
