<!DOCTYPE html>
<html>

<head>
    <title>Later Dashboard</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        .date {
            cursor: pointer;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">later</a>
        </div>
    </nav>
    <br />
    <div id="app" class="container">
        <div class="row">
            <div class="col-sm-2">
                <ul class="list-group" v-for="(count, name) in stages">
                    <li class="list-group-item">
                        <a href="#" @click="loadStage(name, count)">
                            {{name}}
                            <span class="badge bg-secondary rounded-pill">{{count}}</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-10">
                <div class="alert alert-info" v-if="jobs.result.length == 0">
                    Nothing to show here
                </div>
                <table class="table table-striped" v-if="jobs.result.length > 0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Type</th>
                            <th>Date</th>
                            <th>Stage</th>
                        </tr>
                    </thead>
                    <tr v-for="job in jobs.result">
                        <td>
                            <a href="#" @click="showJob(job)">
                                <pre>{{job.id}}</pre>
                            </a>
                        </td>
                        <td>
                            <code>{{job.info.payload_type}}</code>
                        </td>
                        <td class="date" :value="job.info.stage.date"></td>
                        <td>
                            <span v-if="job.info.stage.type != selection.stage">
                                {{job.info.stage.type}}
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.min.js"
            integrity="sha256-rjpmUiJ6gyRPZ2rJkp3soGVAnXC0xotw7s61nf7BqMY=" crossorigin="anonymous"></script>
        <script>
            const BASE_APP = "http://localhost:8000/dash";

            let app = new Vue({
                el: `#app`,
                data: {
                    stages: [],
                    jobs: {
                        result: []
                    },
                    selection: {
                        stage: "",
                        count: 0
                    },
                    page: 1,
                },
                methods: {
                    loadCounts: async function () {
                        let resp = await fetch(get_uri({ cmd: "count" }));
                        let json = await resp.json();

                        this.stages = json.stages;

                        // refresh job list when the total count changed.
                        var countInCurrentStage = this.stages[this.selection.stage];
                        if (countInCurrentStage != this.selection.count) {
                            await this.loadStage(this.selection.stage, countInCurrentStage);
                        }
                    },
                    loadStage: async function (stage, count) {
                        if (this.selection.stage != stage) {
                            this.jobs.result = [];
                        }

                        let resp = await fetch(get_uri({ cmd: "jobs_in_stage", stage: stage, page: this.page }));
                        let json = await resp.json();
                        this.jobs = json;

                        this.updateTime();
                        this.selection = {
                            stage: stage,
                            count: count
                        };
                    },
                    updateTime: function () {
                        setTimeout(update_time, 500);
                    },
                    showJob: function (job) {

                    }
                },
                mounted: function () {
                    this.loadCounts();

                    setInterval(this.loadCounts, 2500);
                    setInterval(this.updateTime, 1000);
                }

            });

            function get_uri(cmd) {
                return `${BASE_APP}?query=${JSON.stringify(cmd)}`;
            }

            function update_time() {
                var items = document.querySelectorAll(".date");
                items.forEach(item => {
                    let input = item.getAttribute("value");
                    if (input == null) {
                        input = item.textContent;
                        item.setAttribute("value", input);
                        item.setAttribute("title", new Date(input).toString());
                    }

                    item.textContent = relative_time(new Date(input));
                });
            }

            function relative_time(input) {
                var units = {
                    year: 24 * 60 * 60 * 1000 * 365,
                    month: 24 * 60 * 60 * 1000 * 365 / 12,
                    day: 24 * 60 * 60 * 1000,
                    hour: 60 * 60 * 1000,
                    minute: 60 * 1000,
                    second: 1000
                }

                var rtf = new Intl.RelativeTimeFormat('en', { numeric: 'auto' })

                var elapsed = input - new Date();

                // "Math.abs" accounts for both "past" & "future" scenarios
                for (var u in units)
                    if (Math.abs(elapsed) > units[u] || u == 'second')
                        return rtf.format(Math.round(elapsed / units[u]), u)
            }
        </script>
</body>

</html>