name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - run: rustup toolchain install stable --profile minimal
    
    - uses: Swatinem/rust-cache@v2
      with:
        shared-key: "later"

    - uses: actions/checkout@v3
    - name: Install, run dependencies and Build (Parallel)
      run: sh -c "sudo apt install -y lld & ./scripts/init-test.sh & curl -LsSf https://get.nexte.st/latest/linux | tar zxf - -C ${CARGO_HOME:-~/.cargo}/bin & cargo build & wait"
    - name: Run tests
      run: cargo nextest run
    - name: Run doctests
      run: cargo test --doc

