name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Install lld
      run: sudo apt install -y lld
    - name: Run dependencies
      run: ./scripts/init-test.sh
    - name: Run tests
      run: cargo test -- --test-threads 1
